<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список авторов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript">
        function deleteAuthor(x) {
            window.location.href = "/deleteAuthor?id=" + x;
        }
    </script>
    <link type="text/css" rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}" />

</head>
<body>
<a href="books?name=0">Все книги</a> | Все авторы
<h1>Список всех авторов</h1>
<table style="width:100%;">
    <tr>
        <th>ID</th>
        <th>Имя автора</th>
        <th class="controlPanel">Управление объектом</th>
    </tr>
    <tr th:each="author : ${authors}">

        <td th:text="${author.authorID}"></td>
        <td th:text="${author.authorName}"></td>
        <td class="controlPanel">
            <input type="button" th:id="${author.authorID}" onclick="deleteAuthor(this.id)" value="Удалить">
        </td>

    </tr>
</table>
</body>
</html>