<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Корзина товаров</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript">
        function sendPost(cartId) {
            //отправляю POST запрос и получаю ответ
            /*$.post(
                '/updateCart',
                    {
                        cartId: cartIdVal,
                        count: countVal
                    },
                function (data) {
                    alert('Количество изменено.');
                }
            );*/
            $.post(
                "/updateCart",
                $("#changeCount" + cartId).serialize()
            );
        }
    </script>
</head>
<body>
<!-- head -->
<div th:replace="header :: header_block"></div>

<!-- body -->
<div class="user_body">
    <h1>Корзина товаров</h1>

    <table style="width:100%;margin-top:10px;">
        <tr>
            <th>ID записи</th>
            <th>Название книги</th>
            <th>Количество</th>
            <th></th>
        </tr>

        <tr th:each="item : ${items}">
            <td th:text="${item.cart.cartID}"></td>
            <td th:text="${item.book.bookName}"></td>
            <td>
                <form th:id="'changeCount'+${item.cart.cartID}">
                    <input type="hidden" name="cartId" th:value="${item.cart.cartID}">
                    <input type="number" name="count" th:value="${item.cart.count}"
                           th:onchange="'sendPost('+${item.cart.cartID}+')'" min="0" pattern="\d*">
                </form>
            </td>
            <td>
                <form action="/deleteFromCart" method="post">
                    <input type="hidden" name="sentCartId" th:value="${item.cart.cartID}">
                    <input type="submit" class="delBtn" value="Delete">
                </form>
            </td>
        </tr>
    </table>
    <div align="right">
        <input class="submitBtn" type="button" value="Оформить заказ">
    </div>
</div>
<!--
    <form id ="deleteForm" action="deleteAuthor" method="POST">
        <input type="hidden" id = "hiddenDeleteField" name = "id">
    </form>
<div class="mainBox">
        <div class = "leftSide">
            <p> А тут менюшка</p><br>
            <ul>
                <li><a href="/userbooks">Тут книги</a></li>
                <li><a href="/userauthors">А тут авторы</a></li>
                <li><a href="/userpublishers">А тут издатели</a></li>
                <li sec:authorize = "hasRole('ADMIN')">
                <a href="/admin">А тут админ панель</a>
                <li sec:authorize = "!isAuthenticated()">
                <a href="/login">А тут можно залогиниться</a>    
                </li>
                <li sec:authorize = "isAuthenticated()">
                    logged as: <span sec:authentication = "name"></span> 
                </li>
                <li sec:authorize = "isAuthenticated()">
                    <a href="/logout">разлогиниться</a>
                </li>
                </li>
            </ul>
        </div>
        <div class = "rightSide">
            <div class = "header">
                <p>Тут будет тобешь заголовок</p>
            </div>
            <h1>Список всех авторов</h1>

            <div th:switch="${submitAddStatus}">
                <div th:case="'0'" class="success">
                    Автор добавлен.
                </div>
            </div>
            <div th:switch="${submitEditStatus}">
                <div th:case="'0'" class="success">
                    Автор изменен.
                </div>
            </div>
            <div th:switch="${submitDelStatus}">
                <div th:case="'0'" class="success">
                    Автор удален.
                </div>
                <div th:case="'1'" class="error">
                    Невозможно удалить автора из БД.
                </div>
                <div th:case="'2'" class="error">
                    Такой автор не существует.
                </div>
            </div>

            <table style="width:99%;">
                <tr>
                    <th>ID</th>
                    <th>Имя автора</th>

                </tr>
                <tr th:each="author : ${authors}">

                    <td th:text="${author.authorID}"></td>
                    <td th:text="${author.authorName}"></td>

                </tr>
            </table>
        </div>
    </div>
    -->
</body>
</html>