<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ошибка сервера</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<!-- head -->
<div th:replace="header :: header_block"></div>

<!-- body -->
<div class="user_body">
    <h1>Произошла ошибка</h1>

    <div th:switch="${status}">
        <div th:case="'403'" class="error">
            У вас нет прав на доступ к этому контенту
        </div>
        <div th:case="'400'" class="error">
            Ошибка передачи параметров
        </div>
        <div th:case="'404'" class="error">
            Такой страницы нет
        </div>
        <div th:case="'500'" class="error">
            Необработанное исключение сервера
        </div>
    </div>
</div>
</body>
</html>