<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Список книг</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link type="text/css" rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>

</head>
<body>
<!-- head -->
<div class="user_header">
    <div style="width:75%;display:inline-block;">
        <a href="/userbooks">Книги</a> |
        <a href="/userauthors">Авторы</a> |
        <a href="/userpublishers">Издатели</a>

        <div style="display:inline;" sec:authorize="hasRole('ADMIN')">
            | <a class="adminPanelLink" href="/admin">Админ панель</a>
        </div>

        <div style="display:inline;" sec:authorize="!isAuthenticated()">
            | <a href="/login">Войти в систему</a> |
            <a href="/registration">Регистрация</a>
        </div>
    </div>

    <div style="display:inline-block;vertical-align: middle;">
        <div style="display:inline;" sec:authorize="isAuthenticated()">
            logged as: <span sec:authentication="name"></span>
            <br>
            <a href="/usercart">Моя корзина <b>(0)</b></a>
            <br>
        </div>
        <div style="display:inline;" sec:authorize="isAuthenticated()">
            <a href="/logout">Выйти</a>
        </div>
    </div>
</div>

<!-- body -->
<div class="user_body">
    <h1>Авторизация</h1>

    <form th:action="@{/login}" method="POST" class="form-signin">
        <br/>

        <input type="text" id="email" name="email" th:placeholder="Email"
               class="inputField"/> <br/>
        <input type="password" th:placeholder="Password"
               id="password" name="password" class="inputField"/> <br/>

        <div th:if="${param.error}" style="margin:10px 0 10px 0">
            <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
        </div>
        <input class="submitBtn" name="Submit" value="Войти в систему" type="Submit">
        <a href="/registration">Регистрация</a>
    </form>
</div>

<!--
    <form id ="deleteForm" action="delete" method="POST">
        <input type="hidden" id = "hiddenDeleteField" name = "id">
    </form>
<div class="mainBox">
        <div class = "leftSide">
            <p> А тут менюшка</p><br>
            <ul>
                <li><a href="/userbooks">Тут книги</a></li>
                <li><a href="/userauthors">А тут авторы</a></li>
                <li><a href="/userpublishers">А тут издатели</a></li>
            </ul>
        </div>
        <div class = "rightSide">
            <form th:action="@{/registration}" method="get">
                <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
            </form>

            <div class="container">
                
                <form th:action="@{/login}" method="POST" class="form-signin">
                    <h3 class="form-signin-heading" th:text="Welcome"></h3>
                    <br/>

                    <input type="text" id="email" name="email"  th:placeholder="Email"
                           class="form-control" /> <br/>
                    <input type="password"  th:placeholder="Password"
                           id="password" name="password" class="form-control" /> <br />

                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
                </form>
        </div>
    </div>
    -->
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml"-->
      <!--xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
    <!--&lt;!&ndash;<title>Spring Security Tutorial</title>&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />&ndash;&gt;-->
    <!--&lt;!&ndash;<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>&ndash;&gt;-->
    <!--&lt;!&ndash;<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--</head>-->

<!--<body>-->
<!--<form th:action="@{/registration}" method="get">-->
    <!--<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>-->
<!--</form>-->

<!--<div class="container">-->
    <!--<img th:src="@{/images/login.jpg}" class="img-responsive center-block" width="300" height="300" alt="Logo" />-->
    <!--<form th:action="@{/login}" method="POST" class="form-signin">-->
        <!--<h3 class="form-signin-heading" th:text="Welcome"></h3>-->
        <!--<br/>-->

        <!--<input type="text" id="email" name="email"  th:placeholder="Email"-->
               <!--class="form-control" /> <br/>-->
        <!--<input type="password"  th:placeholder="Password"-->
               <!--id="password" name="password" class="form-control" /> <br />-->

        <!--<div align="center" th:if="${param.error}">-->
            <!--<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>-->
        <!--</div>-->
        <!--<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>-->
    <!--</form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
