<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список авторов</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript">
        function deletePublisher(x) {
            document.getElementById("hiddenDeleteField").value = x;
            document.getElementById("deleteForm").submit();
        }
        function editPublisher(x) {
            document.getElementById("hiddenDeleteField").value = x;
            document.getElementById("deleteForm").action = "editPublisher";
            document.getElementById("deleteForm").submit();
        }
        function addPublisher() {
            document.getElementById("deleteForm").action = "addPublisher";
            document.getElementById("deleteForm").submit();
        }
    </script>
    <link type="text/css" rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>

</head>
<body>
    <form id ="deleteForm" action="deletePublisher" method="POST">
        <input type="hidden" id = "hiddenDeleteField" name = "id">
    </form>
<div class="mainBox">
        <div class = "leftSide">
            <p> А тут менюшка</p><br>
            <ul>
                <li><a href="/books">Тут книги</a></li>
                <li><a href="/authors">А тут авторы</a></li>
                <li><a href="/publishers">А тут издатели</a></li>
                <li>
                <a href="/index">А тут юзер часть</a>
                </li>
                <li sec:authorize = "isAuthenticated()">
                    logged as: <span sec:authentication = "name"></span> 
                </li>
                <li sec:authorize = "isAuthenticated()">
                    <a href="/logout">разлогиниться</a>
                </li> 
            </ul>
        </div>
        <div class = "rightSide">
            <div class = "header">
                <p>Тут будет тобешь заголовок</p>
            </div>
            <h1>Список всех издателей</h1>

            <div th:switch="${submitAddStatus}">
                <div th:case="'0'" class="success">
                    Издатель добавлен
                </div>
            </div>
            <div th:switch="${submitEditStatus}">
                <div th:case="'0'" class="success">
                    Издатель изменен.
                </div>
            </div>
            <div th:switch="${submitDelStatus}">
                <div th:case="'0'" class="success">
                    Издатель удален.
                </div>
                <div th:case="'1'" class="error">
                    Невозможно удалить издателя.
                </div>
                <div th:case="'2'" class="error">
                    Такого издателя не существует больше.
                </div>
            </div>

            <table style="width:99%;">
                <tr>
                    <th>ID</th>
                    <th>Издатель</th>
                    <th class="controlPanel" colspan = 2>Управление объектом</th>
                </tr>
                <tr th:each="publisher : ${publishers}">

                    <td th:text="${publisher.publisherID}"></td>
                    <td th:text="${publisher.publisherName}"></td>
                    <td class="controlPanel">
                        <input type="button" th:id="${publisher.publisherID}" onclick="deletePublisher(this.id)" value="Удалить">
                    </td>
                    <td class="controlPanel">
                        <input type="button" th:id="${publisher.publisherID}" onclick="editPublisher(this.id)" value="Редактировать">
                    </td>
                </tr>
            </table>
            <input type="button" onclick="addPublisher()" value="Добавить">
        </div>
    </div>
</body>
</html>