<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список издателей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script type="text/javascript">
        function deletePublisher(x) {
            document.getElementById("hiddenDeleteField").value = x;
            document.getElementById("deleteForm").submit();
        }
        function editPublisher(x) {
            document.getElementById("hiddenDeleteField").value = x;
            document.getElementById("deleteForm").action = "editPublisher";
            document.getElementById("deleteForm").submit();
        }
        function addPublisher() {
            document.getElementById("deleteForm").action = "addPublisher";
            document.getElementById("deleteForm").submit();
        }
    </script>
    <link type="text/css" rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}"/>

</head>
<body>
<!-- head -->
<div class="user_header">
    <div style="width:75%;display:inline-block;">
        <a href="/userbooks">Книги</a> |
        <a href="/userauthors">Авторы</a> |
        <a href="/userpublishers">Издатели</a>

        <div style="display:inline;" sec:authorize="hasRole('ADMIN')">
            | <a class="adminPanelLink" href="/admin">Админ панель</a>
        </div>

        <div style="display:inline;" sec:authorize="!isAuthenticated()">
            | <a href="/login">Войти в систему</a> |
            <a href="/registration">Регистрация</a>
        </div>
    </div>

    <div style="display:inline-block;vertical-align: middle;">
        <div style="display:inline;" sec:authorize="isAuthenticated()">
            logged as: <span sec:authentication="name"></span>
            <br>
            <a href="/usercart">Моя корзина <b th:text="'('+${cartTotal}+')'"></b></a>
            <br>
        </div>
        <div style="display:inline;" sec:authorize="isAuthenticated()">
            <a href="/logout">Выйти</a>
        </div>
    </div>
</div>

<!-- body -->
<div class="user_body">
    <h1>Список издателей</h1>

    <table style="width:100%;margin-top:10px;">
        <tr>
            <th>ID</th>
            <th>Издатель</th>
        </tr>
        <tr th:each="publisher : ${publishers}">

            <td th:text="${publisher.publisherID}"></td>
            <td th:text="${publisher.publisherName}"></td>
        </tr>
    </table>
</div>

<!--
    <form id ="deleteForm" action="deletePublisher" method="POST">
        <input type="hidden" id = "hiddenDeleteField" name = "id">
    </form>
<div class="mainBox">
        <div class = "leftSide">
            <p> А тут менюшка</p><br>
            <ul>
                <li><a href="/userbooks">Тут книги</a></li>
                <li><a href="/userauthors">А тут авторы</a></li>
                <li><a href="/userpublishers">А тут издатели</a></li>
                <li sec:authorize = "hasRole('ADMIN')">
                <a href="/admin">А тут админ панель</a>
                <li sec:authorize = "!isAuthenticated()">
                <a href="/login">А тут можно залогиниться</a>    
                </li>
                <li sec:authorize = "isAuthenticated()">
                    logged as: <span sec:authentication = "name"></span> 
                </li>
                <li sec:authorize = "isAuthenticated()">
                    <a href="/logout">разлогиниться</a>
                </li>
                </li>
            </ul>
        </div>
        <div class = "rightSide">
            <div class = "header">
                <p>Тут будет тобешь заголовок</p>
            </div>
            <h1>Список всех издателей</h1>

            <div th:switch="${submitAddStatus}">
                <div th:case="'0'" class="success">
                    Издатель добавлен
                </div>
            </div>
            <div th:switch="${submitEditStatus}">
                <div th:case="'0'" class="success">
                    Издатель изменен.
                </div>
            </div>
            <div th:switch="${submitDelStatus}">
                <div th:case="'0'" class="success">
                    Издатель удален.
                </div>
                <div th:case="'1'" class="error">
                    Невозможно удалить издателя.
                </div>
                <div th:case="'2'" class="error">
                    Такого издателя не существует.
                </div>
            </div>

            <table style="width:99%;">
                <tr>
                    <th>ID</th>
                    <th>Издатель</th>
                </tr>
                <tr th:each="publisher : ${publishers}">

                    <td th:text="${publisher.publisherID}"></td>
                    <td th:text="${publisher.publisherName}"></td>
                </tr>
            </table>
        </div>
</div>-->
</body>
</html>