*{
    margin: 0;
    padding: 0;
    font-size:100%;
    vertical-align: baseline;
}

body {
    height:100%;
    margin:0
}
html{
    height: 100%;
    margin:0
}
body, td, th {
    font-size: 11pt;
    font-family: "Arial";
}

h1 {
    font-family: "Franklin Gothic Medium";
    font-size: 30pt;
}

table {
    border-collapse: collapse;
    margin-left: 5px;
    margin-right: 5px;
}

td, th {
    padding: 15px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}

.controlPanel {
    background: #F3F2F2;
}

.mainBox{
    height: 100%;
    margin:0;
}

.leftSide{
    width: 200px;
    height: 100%;
    border-right: 5px solid black;
    padding-top: 20px;
    float: left;
    text-align: center;
}

.header{
    height: 100px;
    border-bottom:  5px solid black;
    text-align: center;
    margin-bottom: 20px;
}

li{
    margin-top: 10px;
}

.rightSide{
    text-align: center;
    padding-top: 20px;
    height: 100%;
    overflow: hidden;
}

.inputField{
    margin-top: 10px
}

a {
    text-decoration: underline;
    font-size:11pt;
    color:#03478C;
    margin:7px 0;
}

a:hover {
    color:#ED2D0C;
}