*{
    margin: 0;
    padding: 0;
    font-size:100%;
    vertical-align: baseline;
}

body {
    height:100%;
    margin:0
}
html{
    height: 100%;
    margin:0
}
body, td, th {
    font-size: 11pt;
    font-family: "Arial";
}

h1 {
    font-family: "Franklin Gothic Medium";
    font-size: 30pt;
}

table {
    border-collapse: collapse;
    margin-left: 5px;
    margin-right: 5px;
}

td, th {
    padding: 15px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
}

.controlPanel {
    background: #F3F2F2;
}

.mainBox{
    height: 100%;
    margin:0;
}

.leftSide{
    width: 200px;
    height: 100%;
    border-right: 5px solid black;
    padding-top: 20px;
    float: left;
    text-align: center;
}

.header{
    height: 100px;
    border-bottom:  5px solid black;
    text-align: center;
    margin-bottom: 20px;
}

li{
    margin-top: 10px;
}

.rightSide{
    text-align: center;
    padding-top: 20px;
    height: 100%;
    overflow: hidden;
}

.inputField{
    margin-top: 10px;
    padding: 15px;
    font-size: 12pt;
    border: 2px solid #003C7A;
}

input[type=number] {
    width: 65px;
    padding: 7px;
    border: 2px solid #003C7A;
    color: #003C7A;
    font-size: 11pt;
    border-radius: 4px;
}

a {
    text-decoration: underline;
    font-size:11pt;
    color:#03478C;
    margin:7px 0;
}

a:hover {
    color:#ED2D0C;
}

.adminPanelLink {
    color: red;
    text-decoration: underline;
}

.error {
    background: #FFEBEB;
    border:2px solid #ff4b48;
    padding:10px;
    font-size:11pt;
    color: #ff4b48;
    text-align: left;
    margin:10px 5px;
}

.success {
    background: #c3ffb8;
    border: 2px solid #216200;
    padding: 10px;
    font-size: 11pt;
    color: #216200;
    text-align: left;
    margin:10px 5px;
}

.validation-message {
    color: red;
}

.user_header {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 100px 30px 100px;
    font-size: 13pt;
    border-bottom: 5px solid #00337A;
}

.user_body {
    box-sizing: border-box;
    width: 100%;
    padding: 30px 100px 30px 100px;
    font-size: 13pt;
}

.submitBtn {
    margin: 10px 0 10px 0;
    font-size: 13pt;
    font-weight: bold;
    background: #003C7A;
    border-radius: 7px;
    padding: 15px;
    color: white;
    border: 0;
}

.submitBtn:hover {
    background: #006CDB;
    cursor: pointer;
}